# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Node / frontend
node_modules/
dist/
build/
.vite/

# Data
data/
*.db
*.sqlite

# OS / IDE
.DS_Store
.vscode/
.idea/
